In [ ]:
# Zadanie: Pandas, zbirór danych SF Salaries z Kaggle

In [ ]:
# A. Start & sanity check

In [17]:
# A1. Zaimportuj pandas i ustaw czytelne formatowanie liczb.
import pandas as pd
pd.set_option("display.float_format", lambda v: f"{v:,.2f}")

In [18]:
import os

In [19]:
# A2. Ustaw katalog roboczy, wczytaj plik Salaries.csv do ramki sal i podejrzyj pierwsze wiersze.
os.chdir("C:\\Users\\Komputer\\Desktop\\Python-learning\\Pandas")

In [20]:
sal = pd.read_csv("Salaries.csv")
sal.head()

C:\Users\Komputer\AppData\Local\Temp\ipykernel_14464\166047374.py:1: DtypeWarning: Columns (3,4,5,6,12) have mixed types. Specify dtype option on import or set low_memory=False.
  sal = pd.read_csv("Salaries.csv")

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,"167,411.18",0.00,"400,184.25",NaN,"567,595.43","567,595.43",2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),"155,966.02","245,131.88","137,811.38",NaN,"538,909.28","538,909.28",2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),"212,739.13","106,088.18","16,452.60",NaN,"335,279.91","335,279.91",2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,"77,916.00","56,120.71","198,306.90",NaN,"332,343.61","332,343.61",2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)","134,401.60","9,737.00","182,234.59",NaN,"326,373.19","326,373.19",2011,NaN,San Francisco,NaN

In [23]:
# A3. Przekonwertuj kolumny płacowe na typ liczbowy (zamień napisy typu Not Provided na NaN), sprawdź info() i procent braków.
pay_cols = ["BasePay","OvertimePay","OtherPay","Benefits","TotalPay","TotalPayBenefits"]

for c in pay_cols:
    sal[c] = pd.to_numeric(sal[c], errors="coerce")


sal.info()
(sal.isna().mean()*100).round(2).sort_values(ascending=False).rename("missing_%")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(7), int64(2), object(4)
memory usage: 14.7+ MB

Notes              100.00
Status              74.36
Benefits            24.33
BasePay              0.41
Id                   0.00
OvertimePay          0.00
JobTitle             0.00
EmployeeName         0.00
OtherPay             0.00
TotalPayBenefits     0.00
TotalPay             0.00
Year                 0.00
Agency               0.00
Name: missing_%, dtype: float64

In [24]:
# B. Pytania bazowe

In [29]:
# B4. Policz średnią, medianę i odchylenie standardowe BasePay.
print("Średnia płaca bazowa: \n", sal['BasePay'].mean())

Średnia płaca:
 66325.44884048769

In [30]:
print("Mediana płacy bazowej: \n", sal['BasePay'].median())

Mediana płacy bazowej:
 65007.45

In [31]:
print("Oschylenie standardowe płacy bazowej: \n", sal['BasePay'].std())

Oschylenie standardowe płacy bazowej:
 42764.635495258866

In [34]:
# B5. Znajdź rekord z maksymalnym OvertimePay i go wypisz
max_over_time_pay = sal['OvertimePay'].idxmax()
sal.loc[max_over_time_pay, ["EmployeeName","JobTitle","Year","OvertimePay"]]

EmployeeName                       GARY JIMENEZ
JobTitle        CAPTAIN III (POLICE DEPARTMENT)
Year                                       2011
OvertimePay                          245,131.88
Name: 1, dtype: object

In [41]:
# B6. Policz, ile rekordów ma ujemne TotalPayBenefits oraz znajdź minimalną wartość TotalPayBenefits.
negative = sal['TotalPayBenefits']<0
print("Liczba ujmnych: \n", negative.sum())

Liczba ujmnych:
 4

In [42]:
print("Minimalna wartość: \n", sal['TotalPayBenefits'].min())

Minimalna wartość:
 -618.13

In [53]:
# B7. Podaj liczbę unikalnych JobTitle i wypisz TOP-10 najczęstszych tytułów.
print("Liczba unikalnych tytułów: \n", sal['JobTitle'].nunique())

Liczba unikalnych tytułów:
 2159

In [57]:
print("Najczęściej występujące tytuły: \n", sal['JobTitle'].value_counts().head(10))

Najczęściej występujące tytuły:
 JobTitle
Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Custodian                       2418
TRANSIT OPERATOR                2388
Firefighter                     2359
Recreation Leader               1971
Patient Care Assistant          1945
Name: count, dtype: int64

In [59]:
# B8. W wybranym roku (np. 2013) policz, ile JobTitle wystąpiło tylko raz.
(sal.loc[sal['Year']==2013, 'JobTitle'].value_counts()==1).sum()

np.int64(202)

In [60]:
# B9. Policz, ilu pracowników ma w tytule słowo „manager” (bez rozróżniania wielkości liter).
sal["is_manager"] = sal["JobTitle"].str.contains("manager", case=False, na=False)
sal["is_manager"].sum()

np.int64(4110)

In [61]:
# B10. Dodaj kolumny z udziałami BasePay, OvertimePay, OtherPay w TotalPayBenefits (tylko dla TotalPayBenefits > 0) i opisz rozkład.
pos = sal["TotalPayBenefits"] > 0
sal.loc[pos, "share_base"] = sal.loc[pos, "BasePay"] / sal.loc[pos, "TotalPayBenefits"]
sal.loc[pos, "share_ot"] = sal.loc[pos, "OvertimePay"] / sal.loc[pos, "TotalPayBenefits"]
sal.loc[pos, "share_other"] = sal.loc[pos, "OtherPay"] / sal.loc[pos, "TotalPayBenefits"]
sal.loc[pos, ["share_base","share_ot","share_other"]].describe().T

                 count  mean  std   min  25%  50%  75%  max
share_base  148,018.00  0.75 0.17 -1.85 0.65 0.71 0.90 1.00
share_ot    148,620.00  0.04 0.08 -0.00 0.00 0.00 0.05 2.78
share_other 148,620.00  0.04 0.11 -0.05 0.00 0.01 0.05 1.00

In [62]:
# C. Przekroje po latach

In [63]:
# C11. Policz średnie BasePay i TotalPayBenefits dla każdego roku.
sal.groupby("Year")[["BasePay","TotalPayBenefits"]].mean().round(2)

       BasePay  TotalPayBenefits
Year
2011 63,595.96         71,744.10
2012 65,436.41        100,553.23
2013 69,630.03        101,440.52
2014 66,564.42        100,250.92

In [65]:
# C12. Dla każdego roku wybierz TOP-5 osób według TotalPayBenefits (pokaż rok, imię i nazwisko, stanowisko, TTB).
top5_per_year = (
sal.sort_values(["Year","TotalPayBenefits"], ascending=[True,False])
.groupby("Year").head(5)[["Year","EmployeeName","JobTitle","TotalPayBenefits"]]
)
top5_per_year

,Year,EmployeeName,JobTitle,TotalPayBenefits
0,2011,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,"567,595.43"
1,2011,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),"538,909.28"
2,2011,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),"335,279.91"
3,2011,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,"332,343.61"
4,2011,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)","326,373.19"
36159,2012,Gary Altenberg,"Lieutenant, Fire Suppression","407,274.78"
36160,2012,Gregory Suhr,Chief of Police,"391,362.30"
36161,2012,Khoa Trinh,Electronic Maintenance Tech,"389,496.02"
36162,2012,Joanne Hayes-White,"Chief, Fire Department","386,807.48"
36163,2012,Frederick Binkley,EMT/Paramedic/Firefighter,"381,643.11"
72925,2013,Gregory P Suhr,Chief of Police,"425,815.28"
72926,2013,Joanne M Hayes-White,"Chief, Fire Department","422,353.40"
72927,2013,Samson Lai,"Battalion Chief, Fire Suppress","404,167.27"
72928,2013,Ellen G Moffatt,Asst Med Examiner,"401,736.88"
72929,2013,Robert L Shaw,"Dep Dir for Investments, Ret","398,421.67"
110531,2014,David Shinn,Deputy Chief 3,"510,732.68"
110532,2014,Amy P Hart,Asst Med Examiner,"479,652.21"
110533,2014,William J Coaker Jr.,Chief Investment Officer,"436,224.36"
110534,2014,Gregory P Suhr,Chief of Police,"418,019.22"
110535,2014,Joanne M Hayes-White,"Chief, Fire Department","417,435.10"

In [66]:
# C13. Zbuduj tabelę przestawną (index=Year, kolumny=JobTitle_clean, wartości=średnie TTB) i pokaż 10 kolumn o najwyższej średniej w całym okresie.
sal["JobTitle_clean"] = (
sal["JobTitle"].fillna("")
.str.strip().str.upper().str.replace(r"\s+", " ", regex=True)
)


pv = pd.pivot_table(
sal, index="Year", columns="JobTitle_clean",
values="TotalPayBenefits", aggfunc="mean"
)


top_cols = pv.mean().sort_values(ascending=False).head(10).index
pv[top_cols].round(2)

JobTitle_clean,CHIEF INVESTMENT OFFICER,"CHIEF, FIRE DEPARTMENT",GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,"GEN MGR, PUBLIC TRNSP DEPT",CHIEF OF POLICE,"DEP DIR FOR INVESTMENTS, RET","ADM, SFGH MEDICAL CENTER",DEPT HEAD V,CONTROLLER,ASST CHF OF DEPT (FIRE DEPT)
Year,,,,,,,,,,
2011,NaN,NaN,"399,211.28",NaN,"267,992.59",NaN,NaN,NaN,NaN,NaN
2012,NaN,"386,807.48",NaN,"376,002.11","391,362.30","313,040.85","339,368.15","307,531.81","336,683.28","326,666.13"
2013,NaN,"422,353.40",NaN,"386,168.49","425,815.28","398,421.67","352,343.22","361,533.10","344,786.26","356,424.00"
2014,"436,224.36","417,435.10",NaN,"379,918.72","418,019.22",NaN,"349,527.75","361,932.38","347,713.88","344,702.51"

In [67]:
# D. Ci sami pracownicy przez lata

In [68]:
# D14. Znajdź pracowników, którzy występują co najmniej 2 razy w danych.
name_counts = sal["EmployeeName"].value_counts()
multi_year_names = name_counts[name_counts >= 2].index
len(multi_year_names)

34274

In [71]:
# D15. Dla osób z ≥2 latami policz różnicę r/r TotalPayBenefits, a następnie wypisz TOP-10 wzrostów i TOP-10 spadków
chg = (
sal[sal["EmployeeName"].isin(multi_year_names)]
.sort_values(["EmployeeName","Year"])
.groupby("EmployeeName")["TotalPayBenefits"].diff()
.rename("dtpb")
)


sal_chg = pd.concat([sal[["EmployeeName","Year","JobTitle","TotalPayBenefits"]], chg], axis=1)


top_ups = sal_chg.dropna().sort_values("dtpb", ascending=False).head(10)
top_downs = sal_chg.dropna().sort_values("dtpb", ascending=True).head(10)


print(top_ups, top_downs)

              EmployeeName  Year                      JobTitle  \
110540    David L Franklin  2014  Asst Chf of Dept (Fire Dept)
110620  Madonna P Valencia  2014   Manager, Dept Public Health
110640       Patricia Carr  2014            Nursing Supervisor
110659    Genevieve S Farr  2014            Nursing Supervisor
110572   Theresa A Dentoni  2014   Manager, Dept Public Health
110599     Leslie A Dubbin  2014            Nursing Supervisor
110537       John L Martin  2014                   Dept Head V
110805     Ruben Caballero  2014            Nurse Practitioner
110555      Greg B Pizarro  2014             Asst Med Examiner
110603       Ana C Sampera  2014            Nursing Supervisor

        TotalPayBenefits       dtpb
110540        393,990.13 385,713.08
110620        301,075.66 294,094.74
110640        296,394.10 289,357.32
110659        291,705.63 282,160.36
110572        327,201.58 270,866.09
110599        309,170.92 269,712.76
110537        401,070.87 269,056.37
110805        269,346.07 268,593.25
110555        351,254.78 267,144.49
110603        308,587.04 264,811.64                   EmployeeName  Year                      JobTitle  \
106566      David L Franklin  2013  Public Svc Aide-Public Works
71063         David Franklin  2012  Public Svc Aide-Public Works
69179             Mark Smith  2012           Transit Car Cleaner
145513    Madonna P Valencia  2014            Nursing Supervisor
66167   Sharon McCole-Wicher  2012            Nursing Supervisor
131556     Frederick Binkley  2014     EMT/Paramedic/Firefighter
69236            Ana Sampera  2012            Nursing Supervisor
144163         Patricia Carr  2014            Nursing Supervisor
139112     Theresa A Dentoni  2014            Nursing Supervisor
140843       Leslie A Dubbin  2014            Nursing Supervisor

        TotalPayBenefits        dtpb
106566          8,277.05 -388,501.63
71063           3,342.07 -370,872.80
69179           9,329.48 -300,985.90
145513          5,716.91 -295,358.75
66167          24,977.74 -292,688.12
131556         93,438.02 -288,205.09
69236           9,141.62 -288,189.81
144163          9,755.58 -286,638.52
139112         44,321.94 -282,879.64
140843         26,952.26 -282,218.66

In [74]:
# D16. Policz, dla ilu osób TotalPayBenefits rósł przez ≥3 kolejne lata.
g = (sal[sal["EmployeeName"].isin(multi_year_names)]
.sort_values(["EmployeeName","Year"])
.groupby("EmployeeName")["TotalPayBenefits"])


def has_3_increase(s):
    s = s.dropna()
    if len(s) < 4:
        return False
    diffs = s.diff().dropna() > 0
    runs = (diffs != diffs.shift()).cumsum().groupby(diffs).transform("size")
    return (diffs & (runs >= 3)).any()

sum(g.apply(has_3_increase))

0

In [75]:
# E17. Dodaj title_len = len(JobTitle) i sprawdź korelację z TotalPayBenefits.
sal["title_len"] = sal["JobTitle"].fillna("").str.len()
sal[["title_len","TotalPayBenefits"]].corr()

                  title_len  TotalPayBenefits
title_len              1.00             -0.04
TotalPayBenefits      -0.04              1.00

In [76]:
# E18. Wyekstrahuj słowa z JobTitle (tokeny ≥3 znaki) i podaj 3 najczęstsze w całym zbiorze.
tokens = (
sal["JobTitle"].fillna("")
.str.lower().str.replace(r"[^a-z\s]", " ", regex=True)
.str.split().explode()
)
common_words = tokens[tokens.str.len() >= 3].value_counts().head(20)
common_words.head(3)

JobTitle
nurse      13276
transit    12133
worker     10304
Name: count, dtype: int64

In [77]:
# E19. Porównaj korelację OvertimePay z TotalPay vs z TotalPayBenefits.
corr_total = sal[["OvertimePay","TotalPay"]].corr().loc["OvertimePay","TotalPay"]
corr_benefit = sal[["OvertimePay","TotalPayBenefits"]].corr().loc["OvertimePay","TotalPayBenefits"]
(corr_total, corr_benefit)

(np.float64(0.504858870452255), np.float64(0.4679813279796469))

In [81]:
# E20. Zdefiniuj wysoki udział nadgodzin (share_ot ≥ 0.30, TTB>0), policz % w każdym roku i pokaż TOP-10 stanowisk w tej grupie.
hi_ot = sal[(sal["TotalPayBenefits"] > 0) & (sal["share_ot"] >= 0.30)]


pct_by_year = (hi_ot.groupby("Year").size() / sal[sal["TotalPayBenefits"] > 0]
.groupby("Year").size() * 100).round(2)


top_jobs_hi_ot = hi_ot["JobTitle_clean"].value_counts().head(10)


print(pct_by_year, top_jobs_hi_ot)

Year
2011   2.64
2012   1.20
2013   1.08
2014   1.19
dtype: float64 JobTitle_clean
JUNIOR CLERK                          430
TRANSIT OPERATOR                      292
FIREFIGHTER                           251
TRANSIT SUPERVISOR                    173
FOOD SERVICE WORKER                    95
ELECTRICAL TRANSIT SYSTEM MECHANIC     77
DEPUTY SHERIFF                         63
ELECTRICAL TRANSIT SYSTEM MECH         59
EMT/PARAMEDIC/FIREFIGHTER              40
POLICE OFFICER 3                       36
Name: count, dtype: int64